<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                L
            </ng-template>
            <map-links-sidenav />
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                U
            </ng-template>
            <map-units-sidenav />
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                T
            </ng-template>
            <map-tiles-sidenav />
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                DR
            </ng-template>
            <map-dice-roller-sidenav />
        </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()">Toggle sidenav</button>
  </mat-sidenav-content>
</mat-sidenav-container>