@use '@angular/material' as mat;

mat-sidenav-container {
    height: 100vh;
    width: 100vw;
}

mat-sidenav {
    @include mat.sidenav-overrides((
        container-shape: var(--mat-sys-corner-none),
        container-width: min(calc(100vw - 58px), 450px)
    ));

    anchor-name: --sidenav-anchor;
}

mat-sidenav-content {
    height: 100vh;
    overflow: hidden;
    background-image: url('../../../../../public/img/background.png');
    background-repeat: repeat;
}

#sidebarTabs {
    height: 100vh;

    ::ng-deep .mat-mdc-tab.mdc-tab {
        min-width: 48px;
        padding: 0px;
    }
}

button.sidenavExpandButton {
    @include mat.fab-overrides((
        container-elevation-shadow: none,
        focus-container-elevation-shadow: none,
        hover-container-elevation-shadow: none,
        extended-focus-container-elevation-shadow: none,
        extended-hover-container-elevation-shadow: none,
        container-shape: 0px 10px 10px 0px
    ));
    
    position: absolute;
    position-anchor: --sidenav-anchor;
    position-area: x-end y-start;
    position-visibility: always;
    z-index: 99;
}

#segmentButtonRow { 
    display: flex;
    flex-flow: row nowrap;
    column-gap: 8px;
    margin-top: 16px;
}