@use '@angular/material' as mat;

.centeredBackground {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../../public/img/background.png');
    background-repeat: repeat;
}

.errorRow {
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
}

.errorColumn {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;

    h1 {
        margin: 0px 0px 8px 0px;
        font-style: normal;
        font-weight: normal;
        line-height: 2.5rem;
        font-family: macExtMinecraft;
        color: crimson;
    }

    p { 
        font-size: 1rem;
        margin: 0px 0px 0px 24px;
    }
}

#segmentTabs {
    @include mat.tabs-overrides((
        active-focus-indicator-color: var(--primary-theme-color),
        active-indicator-color: var(--primary-theme-color),
        active-hover-indicator-color: var(--primary-theme-color),
        container-height: 56px,
        label-text-font: macExtMinecraft
    ));

    margin-left: 60px;
}

#segmentButtonRow { 
    display: flex;
    flex-flow: row nowrap;
    column-gap: 8px;
    margin-top: 16px;
}