<button matFab (click)="sidenav.toggle()" class="sidenavExpandButton">></button>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened [mode]="breakpointService.isScreenSmallWidth() ? 'over' : 'side'" class="noScroll">
        <mat-tab-group class="sidebarTabs">
            <mat-tab>
                <ng-template mat-tab-label>
                    U
                </ng-template>
                <map-units-sidenav />
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="img/tile_icon.png" height="30" width="30" />
                </ng-template>
                <map-tiles-sidenav />
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="img/paint_icon.png" height="30" width="30" />
                </ng-template>
                Image download
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="img/links_icon.png" height="30" width="30" />
                </ng-template>
                <links-sidenav [googleWorksheetID]="this.teamDataService.getWorksheetID()"
                               [chapterPostUrl]="this.teamDataService.getChapterPostUrl()"
                               [showConvoyLink]="this.teamDataService.isConvoyConfigured()"
                               [showShopLink]="this.teamDataService.isShopConfigured()"
                               [showMapAnalyzerLink]="true" />
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <img src="img/die_icon.png" height="32" width="32" />
                </ng-template>
                <map-dice-roller-sidenav />
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="segmentButtonRow">
            @for (segment of teamDataService.mapData().map?.segments; track segment.title){
                <button matButton="filled" (click)="setCurrentSegment(segment)">{{segment.title}}</button>
            }
        </div>
        <mat-divider />
        @if(currentSegment !== undefined) {
            <map-segment [segment]="currentSegment" />
        }
    </mat-sidenav-content>
</mat-sidenav-container>