div.headerRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    font-family: macExtMinecraft;
    font-size: .5rem;

    h2.labelText {
        max-width: 40%;
        align-content: center;
        margin: 0px;
        padding: 4px 8px 4px 16px;
        border-radius: 0px 0px 0px 8px;
        background: var(--primary-theme-color);
        font-style: normal;
        font-weight: normal;
    }

    div.labelTextPoint {
        width: 16px;
        background: linear-gradient(to right top, var(--primary-theme-color) 50%, transparent 50%);
    }

    h2.titleText {
        flex-grow: 1;
        align-content: center;
        margin: 0px;
        padding: 4px 8px 4px 8px;
        box-shadow: inset 0px -2px var(--primary-theme-color);
        border-radius: 0px 8px 0px 0px;
        font-style: normal;
        font-weight: normal;
    }
}

p {
    margin: 4px 16px 0px 16px;
    font-size: .8rem;
}