div.statusContainer {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.8rem;

    #headerRow {
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        justify-content: space-between;
        column-gap: 16px;

        #titleContainer {
            display: flex;
            flex-flow: column nowrap;

            #title {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                font-family: macExtMinecraft;
                font-size: 0.8rem;

                #sprite {
                    max-height: 12px;
                    max-width: 12px;
                    object-fit: scale-down;
                    margin-right: 4px;
                }
            }

            p {
                margin: 0px 0px 0px 16px;
            }
        }

        #icons {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            column-gap: 4px;
        }
    }

    p {
        margin: 4px 0px 0px 0px;
    }
}