<div id="linksContainer">
    <mat-action-list>
        <a mat-list-item [href]="getGoogleSheetUrl()" target="blank">Google Sheets</a>
        @if (getChapterPostUrl().length > 0) {
            <a mat-list-item [href]="getChapterPostUrl()" target="blank">Chapter Post</a>
        }
        @if (showConvoyLink()) {
            <a mat-list-item [routerLink]="[`/${teamName}`, 'convoy']">Convoy</a>
        }
        @if (showShopLink()) {
            <a mat-list-item [routerLink]="[`/${teamName}`, 'shop']">Shop</a>
        }
        <a mat-list-item [routerLink]="[`/${teamName}`, 'map', 'analyze']">Map Analyzer Tool</a>
        <a mat-list-item [routerLink]="['../..']">Home</a>
    </mat-action-list>
</div>