<img [src]="unit().sprite.portraitURL ? unit().sprite.portraitURL : unit().sprite.spriteURL" class="unitPortraitSprite" [class]="{'smooth': unit().sprite.portraitURL}" />
<div class="unitNameplateContainer">
    <div class="unitNameplateRow">
        <button matIconButton>
            <img src="img/caret.png" height="32" width="32" />
        </button>
        <div class="unitNameplate">
            <div class="nameText">{{unit().name}}</div>
            <div class="levelClassText">
                @if (unit().stats.level > 0) { Lvl. {{unit().stats.level}} }
                @if (unit().classes) { {{unit().classes?.at(0)}} }
            </div>
            @if (teamDataService.getAffiliationByName(unit().affiliation)?.spriteURL) {
                <img [src]="teamDataService.getAffiliationByName(unit().affiliation)?.spriteURL" />
            }
        </div>
    </div>
    @if (unit().player) {
        <div class="playerNameplate">{{unit().player}}</div>
    }
</div>
<div class="expandableUnitInfoContainer">
    @if (unit().textFields) {
        @for (text of unit().textFields; track $index) {
            <p>{{text}}</p>
        }
    }
    <p>Affiliation: {{unit().affiliation}}</p>
    <p>Movement Type: {{unit().movementType}}</p>
    @if (unit().classes) {
        @for(className of unit().classes; track $index) {
            <p>Class: {{className}}</p>
        }
    }
    @if (unit().characterApplicationURL) {
        <p>Character Application: <a [href]="unit().characterApplicationURL">Link</a></p>
    }
</div>
<div>HP {{unit().stats.hp.current}} / {{unit().stats.hp.maximum}}</div>