<img [src]="unit().sprite.portraitURL ? unit().sprite.portraitURL : unit().sprite.spriteURL" class="unitPortraitSprite" [class]="{'smooth': unit().sprite.portraitURL}" />
<div class="unitNameplateContainer">
    <div class="unitNameplateRow">
        <button matIconButton (click)="toggleUnitInfoExpansion()">
            <img src="img/caret.png" [class]="{'rotate90': isUnitInfoExpanded}" />
        </button>
        <div class="unitNameplate">
            <hgroup class="unitNameplateText">
                <h1 class="nameText">{{unit().name}}</h1>
                <p class="levelClassText">
                    @if (unit().stats.level > 0) { Lvl. {{unit().stats.level}} }
                    @if (unit().classes) { {{unit().classes?.at(0)}} }
                </p>
            </hgroup>
            @if (getUnitAffiliation()?.spriteURL) {
                <img [src]="getUnitAffiliation()?.spriteURL" class="nameplateAffiliationSprite"/>
            }
        </div>
    </div>
    @if (unit().player) {
        <div class="playerNameplate">
            <div class="playerNameplateText">{{unit().player}}</div>
            <div class="playerNameplateRibbons">
                <div class="leftRibbon"></div>
                <div class="rightRibbon"></div>
            </div>
        </div>
    }
</div>
@if(isUnitInfoExpanded){
    <div class="expandableUnitInfoContainer">
        @if (unit().textFields) {
            @for (text of unit().textFields; track $index) {
                <p class="unitDescriptionText">{{text}}</p>
            }
        }
        <text-fields-with-labeled-header label="Affiliation" [title]="unit().affiliation" [textFields]="getUnitAffiliation()?.textFields" />
        @if (unit().classes) {
            @for(className of unit().classes; track $index) {
                <text-fields-with-labeled-header [label]="teamDataService.getInterfaceLabels()?.class" [title]="className" [textFields]="getUnitClass(className)?.textFields" />
            }
        }
        <text-fields-with-labeled-header label="Movement Type" [title]="unit().movementType" />
        @if (unit().characterApplicationURL) {
            <text-fields-with-labeled-header label="Character App" title="Link" [titleHref]="unit().characterApplicationURL" />
        }
    </div>
}
<div class="prioritizedStatsContainer">
    <div class="unitHPContainer">
        <div class="hpValueRow">
            <div class="label">HP</div>
            <div class="values">
                <span class="current">{{unit().stats.hp.current}}</span>
                <span class="maximum">/ {{unit().stats.hp.maximum}}</span>
            </div>
        </div>
        <div class="placeholderHPBar"></div>
    </div>
    @if((unit().stats.experience ?? 0) > 0){
        <div class="prioritizedStatsItem">
            <div class="label">Exp</div>
            <div>{{unit().stats.experience}}</div>
        </div>
    }
    @if((unit().stats.heldCurrency ?? 0) > 0){
        <div class="prioritizedStatsItem">
            <div class="label">Money</div>
            <currency [amount]="unit().stats.heldCurrency" />
        </div>
    }
</div>
