@if(unit().sprite.portraitURL){
    <div class="unitPortraitContainer">
        <img [src]="unit().sprite.portraitURL" class="unitPortraitSprite smooth" />
    </div>
}
<div class="unitNameplateContainer">
    <img [src]="unit().sprite.spriteURL" class="unitNameplateSprite" />
    <hgroup class="unitNameplateText">
        <h1 class="nameText">{{unit().name}}</h1>
        <p class="levelClassText">
            @if (unit().stats.level > 0) { Lvl. {{unit().stats.level}} }
            @if (unit().classes) { {{unit().classes?.at(0)}} }
        </p>
    </hgroup>
    @if (getUnitAffiliation()?.spriteURL) {
        <img [src]="getUnitAffiliation()?.spriteURL" class="nameplateAffiliationSprite"/>
    }
</div>
<div class="unitButtonsRow">
    <button matIconButton (click)="toggleUnitInfoExpansion()" [title]="'Click to ' + (isUnitInfoExpanded ? 'collapse' : 'expand') + ' the additional unit info section'">
        <img src="img/caret.png" [class]="{'rotate90': isUnitInfoExpanded}" />
    </button>
    @if (unit().player) {
        <div class="playerNameplateContainer" [title]="unit().player">
            <div class="playerNameplate">
                <div class="text">{{unit().player}}</div>
                <div class="ribbons">
                    <div class="leftRibbon"></div>
                    <div class="rightRibbon"></div>
                </div>
            </div>
        </div>
    }
    <button matIconButton title="Pin this Unit">
        <img src="img/pin_icon.png" alt="Pin Icon" />
    </button>
</div>
@if(isUnitInfoExpanded){
    <div class="expandableUnitInfoContainer">
        @if (unit().textFields) {
            @for (text of unit().textFields; track $index) {
                <p class="unitDescriptionText">{{text}}</p>
            }
        }
        <text-fields-with-labeled-header label="Affiliation" [title]="unit().affiliation" [textFields]="getUnitAffiliation()?.textFields" />
        @if (unit().classes) {
            @for(className of unit().classes; track $index) {
                <text-fields-with-labeled-header [label]="teamDataService.getInterfaceLabels()?.class" [title]="className" [textFields]="getUnitClass(className)?.textFields" />
            }
        }
        <text-fields-with-labeled-header label="Movement Type" [title]="unit().movementType" />
        @if (unit().characterApplicationURL) {
            <text-fields-with-labeled-header label="Character App" title="Link" [titleHref]="unit().characterApplicationURL" />
        }
    </div>
}
<div class="prioritizedStatsContainer">
    <div class="unitHPContainer">
        <div class="hpValueRow">
            <div class="label">HP</div>
            <div class="values">
                <span class="current">{{unit().stats.hp.current}}</span>
                <span class="maximum">/ {{unit().stats.hp.maximum}}</span>
            </div>
        </div>
        <unit-hp-bar [percentage]="unit().stats.hp.percentage" />
    </div>
    @if((unit().stats.experience ?? 0) > 0){
        <div class="prioritizedStatsItem">
            <div class="label">Exp</div>
            <div>{{unit().stats.experience}}</div>
        </div>
    }
    @if((unit().stats.heldCurrency ?? 0) > 0){
        <div class="prioritizedStatsItem">
            <div class="label">Money</div>
            <currency [amount]="unit().stats.heldCurrency" />
        </div>
    }
</div>
@if((unit().tags ?? []).length > 0){
    <div class="tagsRow">
        <div class="tagIcon">
            <img src="img/tags_icon.png" height="32" width="32" title="Unit Tags" />
        </div>
        <div class="tagItems">
            @for(tag of unit().tags; track $index){
                <unit-tag [tag]="tag" />
            }
        </div>
    </div>
}
@if(unit().behavior){
    <div class="behaviorRow">
        <div class="behaviorIcon">
            <img src="img/behavior_icon.png" height="32" width="32" title="Unit Behavior" />
        </div>
        <div class="text">
            <p>{{unit().behavior}}</p>
        </div>
    </div>
}
@if((unit().statusConditions ?? []).length > 0) {
    <div class="statusConditionsRow">
        <div class="statusConditionIcon">
            <img src="img/status_icon.png" height="32" width="32" title="Status Conditions" />
        </div>
        <div class="statusConditionItems">
            @for(status of unit().statusConditions; track $index){
                <unit-status-condition [status]="status" />
            }
        </div>
    </div>
}
<div id="statsSectionContainer">
    <div id="statsHeaderRow">
        <button matIconButton (click)="toggleStatExpansion()" [title]="'Click to ' + (isStatsInfoExpanded ? 'collapse' : 'expand') + ' the stats section'">
            <img src="img/caret.png" [class]="{'rotate90': isStatsInfoExpanded}" />
        </button>
        <h2>Stats</h2>
    </div>
    <div id="statRowsContainer">
        @if(unit().stats.combat) {
        <div class="statRow">
            @for (stat of unit().stats.combat | keyvalue : sortModifiedUnitStat; track stat.key){
                <modified-unit-stat [name]="stat.key" [values]="stat.value" [expanded]="isStatsInfoExpanded" />
            }
        </div>
        }
        @if(unit().stats.system) {
            <div class="statRow">
                @for (stat of unit().stats.system | keyvalue : sortModifiedUnitStat; track stat.key){
                    <modified-unit-stat [name]="stat.key" [values]="stat.value" [expanded]="isStatsInfoExpanded" />
                }
            </div>
        }
        @if(unit().stats.general) {
            <div class="statRow">
                @for (stat of unit().stats.general | keyvalue : sortModifiedUnitStat; track stat.key){
                    <modified-unit-stat [name]="stat.key" [values]="stat.value" [expanded]="isStatsInfoExpanded" />
                }
            </div>
        }
    </div>
</div>
<mat-divider />
<div id="inventorySectionContainer">
    <div id="inventoryHeaderRow">
        <button matIconButton (click)="toggleInventoryExpansion()" [title]="'Click to ' + (isInventoryExpanded ? 'collapse' : 'expand') + ' the inventory'">
            <img src="img/caret.png" [class]="{'rotate90': isInventoryExpanded}" />
        </button>
        <h2>Inventory</h2>
    </div>
    @if (isInventoryExpanded) {
        @for (subsection of unit().inventory?.subsections; track $index) {
            <div id="subsectionContainer">
                @if (getInventorySubsectionLabel($index).length > 0) {
                    <h3>{{getInventorySubsectionLabel($index)}}</h3>
                }
                @for (item of subsection.items; track $index) {
                    <inventory-item [item]="item" />
                }
                @if (subsection.emptySlotCount > 0){
                    <div id="emptySlots">
                        <span [style.opacity]="0.5">Empty x{{subsection.emptySlotCount}}</span>
                    </div>
                }
            </div>
        }
    }
</div>