<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{team().teamName}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-actions align="end">
        <button matButton [routerLink]="[GetTeamNameWithoutSpaces(), 'map']">
            <span class="buttonContent">
                <img src="img/map_icon.png" height="20" width="20" alt="Map Icon" />
                Map
            </span>
        </button>
        <button matButton [disabled]="!team().showConvoyLink" [routerLink]="[GetTeamNameWithoutSpaces(), 'convoy']">
            <span class="buttonContent">
                <div style="width: 20px; height: 20px; background-color: orange;">?</div>
                Convoy
            </span>
        </button>
        <button matButton [disabled]="!team().showShopLink" [routerLink]="[GetTeamNameWithoutSpaces(), 'shop']">
            <span class="buttonContent">
                <img src="img/shop_icon.png" height="20" width="20" alt="Map Icon" />
                Shop
            </span>
        </button>
    </mat-card-actions>
</mat-card>