mat-card-title {
    font-family: 'macExtMinecraft';
    font-weight: normal;
}

.buttonContent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
}