<div id="paintSidenavContainer">
    <mat-action-list>
        <button mat-list-item (click)="exportMapAsImage()">
            <img matListItemIcon src="img/map_icon.png" />
            <span class="matListItemTitle pixelFont">Download map image</span>
            <div matListItemMeta>
                <mat-icon>download</mat-icon>
            </div>
        </button>
    </mat-action-list>
    <h2>Pen Tool</h2>
    <div class="undoButtonRow">
        <button matButton="outlined" (click)="eraseAllPaint()">Erase</button>
        <button matButton="outlined" (click)="undoLastLine()">Undo</button>
    </div>
    <mat-button-toggle-group name="penWidth" class="penWidthToggles" aria-label="Pen width" hideSingleSelectionIndicator (change)="penWidth_OnChange($event)">
        <mat-button-toggle value="2">
            <img src="img/thin_line_icon.png" height="20px" width="20px" [style.filter]="themeService.inDarkMode() ? 'invert(1)' : ''" /> Thin
        </mat-button-toggle>
        <mat-button-toggle value="4">
            <img src="img/medium_line_icon.png" height="20px" width="20px" [style.filter]="themeService.inDarkMode() ? 'invert(1)' : ''" /> Medium
        </mat-button-toggle>
        <mat-button-toggle value="6">
            <img src="img/thick_line_icon.png" height="20px" width="20px" [style.filter]="themeService.inDarkMode() ? 'invert(1)' : ''" /> Thick
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="colorButtonsRow">
        <button matButton="elevated" (click)="setPenColor('hotpink')" class="penColorButton" [style.background-color]="'hotpink'"></button>
        <button matButton="elevated" (click)="setPenColor('red')" class="penColorButton" [style.background-color]="'red'"></button>
        <button matButton="elevated" (click)="setPenColor('orange')" class="penColorButton" [style.background-color]="'orange'"></button>
        <button matButton="elevated" (click)="setPenColor('yellow')" class="penColorButton" [style.background-color]="'yellow'"></button>
        <button matButton="elevated" (click)="setPenColor('green')" class="penColorButton" [style.background-color]="'green'"></button>
        <button matButton="elevated" (click)="setPenColor('cyan')" class="penColorButton" [style.background-color]="'cyan'"></button>
        <button matButton="elevated" (click)="setPenColor('blue')" class="penColorButton" [style.background-color]="'blue'"></button>
        <button matButton="elevated" (click)="setPenColor('blueviolet')" class="penColorButton" [style.background-color]="'blueviolet'"></button>
        <button matButton="elevated" (click)="setPenColor('white')" class="penColorButton" [style.background-color]="'white'"></button>
        <button matButton="elevated" (click)="setPenColor('black')" class="penColorButton" [style.background-color]="'#333333'"></button>
    </div>
</div>