div.itemContainer {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
    cursor: pointer;

    div.itemHeaderRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        column-gap: 16px;

        #textContainer {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;

            #name {
                display: flex;
                display: row nowrap;
                align-items: center;
                column-gap: 6px;
                font-family: macExtMinecraft;
                font-size: 0.9rem;

                .droppableTextColor { color: #3CD66F; }
            }

            #rankCategory {
                padding-left: 16px;
            }

            //Applies to all sprites in the item header, including engravings and tags
            img {
                max-height: 24px;
                max-width: 24px;
                object-fit: scale-down;
            }
        }

        #iconsContainer {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 4px;
        }
    }
    .opacity50{ opacity: 0.5; }

    #expansionContainer {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 8px;

        #statsContainer {
            display: flex;
            flex-flow: row wrap;
            column-gap: 5%;
            padding: 0px 8px 0px 8px;

            div.stat {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                flex: 0 0 30%;
                column-gap: 6px;

                //Forces values with complex displays (range, uses) to stay on the same line
                div.statValue {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
        }

        p {
            margin: 0;
        }

        #graphic {
            max-height: 100px; 
            max-width: 250px;
            object-fit: scale-down;
        }
    }

    div.messageRow {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 4px;
        color: #ff6600;
    }
}