@use '@angular/material' as mat;

#diceRollerContainer {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    #inputsContainer {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 8px;
        padding: 8px 8px 0px 8px;

        @include mat.checkbox-overrides((
            state-layer-size: 21px
        ));
    }

    h1 {
        margin: 0px;
        font-family: macExtMinecraft;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.65rem;
    }

    h2 {
        margin: 0px;
        font-family: macExtMinecraft;
        font-style: normal;
        font-weight: normal;
    }

    #quickRollButtonRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    #formInputsRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

    #historyHeaderRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #rollHistoryContainer {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 8px;
        overflow-y: auto;
        padding: 0px 8px 16px 8px;

        div.diceRollCard {
            display: flex;
            flex-flow: row nowrap;
            column-gap: 24px;
            padding: 8px;
            border: 2px solid var(--mat-sys-primary-container);
            border-radius: 0px 8px 0px 8px;

            div.leftColumn {
                display: flex;
                flex-flow: column nowrap;
                flex: 0 0 15%;
            }

            div.rightColumn {
                display: flex;
                flex-flow: column nowrap;
                flex: 1;

                div.rollValues {
                    display: flex;
                    flex-flow: row wrap;
                    column-gap: 16px;
                }
            }

            p {
                margin: 0;
            }
        }

        #emptyRollHistory {
            display: flex;
            flex-flow: row nowrap;
            flex: 1;
            justify-content: center;
            margin-top: 16px;
        }
    }
}

.opacity50 { opacity: 0.5; }