#itemContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 8px;
    border: 2px solid var(--mat-sys-primary-container);
    border-radius: 0px 8px 0px 8px;
    cursor: pointer;

    #headerRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        column-gap: 16px;

        #textContainer {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;

            #name {
                display: flex;
                display: row nowrap;
                align-items: center;
                column-gap: 4px;
                font-family: macExtMinecraft;
                font-size: 0.9rem;
            }

            #rankCategory {
                padding-left: 16px;
            }
        }
    }
}