<div id="modifiedStatContainer">
    <div id="headerRow">
        <div id="label">
            <div id="text">{{name()}}</div>
            <div id="point"></div>
        </div>
        <stat-with-buff-icon [base]="values().baseValue" [final]="values().finalValue" [invertColors]="values().invertModifiedDisplayColors ?? false" />
    </div>
    @if (expanded()) {
        <div id="modifiersContainer">
            <div id="swoopy"></div>
            <div id="modifierRows">
                <div class="modifierRow">
                    <p>Base</p>
                    <p>{{values().baseValue}}</p>
                </div>
                @for (mod of values().modifiers | keyvalue; track mod.key) {
                    <div class="modifierRow" [ngClass]="{'shaded': $even}">
                        <p>{{mod.key}}</p>
                        <p>{{mod.value}}</p>
                    </div>
                }
            </div>
        </div> 
    }
</div>