<div class="modifiedStatContainer">
    <div class="headerRow">
        <div class="label">
            <div class="text">{{name()}}</div>
            <div class="point"></div>
        </div>
        <div class="value">
            @if (values().finalValue !== values().baseValue)
            {
                @if (values().invertModifiedDisplayColors)
                {
                    @if(values().finalValue < values().baseValue) { <img src="img/arrow_down.png" class="pos" /> }
                    @else { <img src="img/arrow_up.png" class="neg" /> }
                }
                @else
                {
                    @if(values().finalValue > values().baseValue) { <img src="img/arrow_up.png" class="pos" /> }
                    @else { <img src="img/arrow_down.png" class="neg" /> }
                }
            }
            {{values().finalValue}}
        </div>
    </div>
    @if (expanded()) {
        <div class="modifiersContainer">
            <div class="swoopy"></div>
            <div class="modifierRows">
                <div class="modifierRow">
                    <div>Base</div>
                    <div>{{values().baseValue}}</div>
                </div>
                @for (mod of values().modifiers | keyvalue; track mod.key) {
                    <div class="modifierRow" [ngClass]="{'shaded': $even}">
                        <div>{{mod.key}}</div>
                        <div>{{mod.value}}</div>
                    </div>
                }
            </div>
        </div> 
    }
</div>