#modifiedStatContainer {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    row-gap: 4px;

    #headerRow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-family: macExtMinecraft;
        font-size: .8rem;

        #label {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;

            #text {
                display: flex;
                justify-content: center;
                width: 100px;
                padding: 4px 0px 4px 0px;
                border-radius: 0px 0px 0px 8px;
                background: var(--mat-sys-secondary-container);
                box-shadow: 0px 2px var(--mat-sys-tertiary-container);
            }

            #point {
                width: 16px;
                background: linear-gradient(to right top, var(--mat-sys-secondary-container) 50%, transparent 50%);
                box-shadow: 0px 2px var(--mat-sys-tertiary-container);
            }
        }
    }

    #modifiersContainer {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        column-gap: 2px;
        
        #swoopy {
            display: flex;
            flex-flow: column nowrap;
            width: 12px;
            border-right: 3px solid var(--mat-sys-tertiary-container);
        }
        
        #modifierRows {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            row-gap: 2px;

            div.modifierRow {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                column-gap: 16px;
                padding: 0px 4px 0px 4px;
                font-size: 0.8rem;

                p {
                    margin: 0px;
                }
            }

            div.shaded { 
                background-color: rgba(132, 132, 132, 0.1);
            }
        }
    }
}