@use '@angular/material' as mat;

//Theme color constants
$primary-theme-color-light: #90AEFF;
$secondary-theme-color-light: #CEFC86;
$tertiary-theme-color-light: #60EFB8;
$tertiary-theme-color-dim-light: #1eb77d;

$primary-theme-color-dark: #3e59a3;
$secondary-theme-color-dark: #7da43e;
$tertiary-theme-color-dark: #1c9164;
$tertiary-theme-color-dim-dark: #0a5538;

html {
  height: 100%;
  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Roboto,
      density: 0,
    )
  );

  //Create global theme color variables
  --primary-theme-color: #{light-dark($primary-theme-color-light, $primary-theme-color-dark)};
  --secondary-theme-color: #{light-dark($secondary-theme-color-light, $secondary-theme-color-dark)};
  --tertiary-theme-color: #{light-dark($tertiary-theme-color-light, $tertiary-theme-color-dark)};
  --tertiary-theme-color-dim: #{light-dark($tertiary-theme-color-dim-light, $tertiary-theme-color-dim-dark)};
}

@mixin apply-dark-mode {
  color-scheme: dark;
}
body {
  &.dark-mode {
    @include apply-dark-mode;
  }

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  min-height: 100vh;
}

app-root {
  display: block;
  min-height: 100vh;
  width: 100%;
}

// Minecraft pixel font
@font-face {
  font-family: macExtMinecraft;
  src: url('../public/fonts/macExtendedMinecraft.woff2');
  font-weight: normal;
}
@font-face {
  font-family: macExtMinecraft;
  src: url('../public/fonts/macExtendedMinecraftBold.woff2');
  font-weight: bold;
}
@font-face {
  font-family: macExtMinecraft;
  src: url('../public/fonts/macExtendedMinecraftItalic.woff2');
  font-style: italic;
}
@font-face {
  font-family: macExtMinecraft;
  src: url('../public/fonts/macExtendedMinecraftBoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}
.pixelFont{
  font-family: macExtMinecraft;
}

// Render images as pixelized by default
img,
canvas{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

img.smooth{
    image-rendering: optimizeQuality;
    image-rendering: auto;
    -ms-interpolation-mode: inherit;
}