@if (isLoading()) {
    <div class="loadingErrorBackground">
        <loading-icon />
    </div>
}
@else if (shopDataService.errorMessages().length > 0) {
    <div class="loadingErrorBackground">
        <div class="errorRow">
            <div class="errorColumn">
                <h1 class="error">Whoops, something went wrong.</h1>
                @for (error of shopDataService.errorMessages(); track $index) {
                    <p>{{error}}</p>
                }
            </div>
        </div>
    </div>
}
@else {
  <button matFab (click)="sidenav.toggle()" class="sidenavExpandButton">
      <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container>
      <mat-sidenav #sidenav opened [mode]="breakpointService.isSmallWidth() ? 'over' : 'side'">
          <mat-tab-group class="sideNavTabs" mat-stretch-tabs disablePagination> 
              <mat-tab aria-label="Filters">
                  <ng-template mat-tab-label>
                      <img src="img/filter_icon.png" height="30" width="30" />
                  </ng-template>
                  <shop-filters-sidenav />
              </mat-tab>
              <mat-tab aria-label="Links">
                  <ng-template mat-tab-label>
                      <img src="img/links_icon.png" height="30" width="30" />
                  </ng-template>
                  <links-sidenav [googleWorksheetID]="this.shopDataService.getWorksheetID()"
                                [showMapLink]="true"
                                [showConvoyLink]="this.shopDataService.isConvoyConfigured()"
                                [showMapAnalyzerLink]="true" />
              </mat-tab>
          </mat-tab-group>
      </mat-sidenav>
      <mat-sidenav-content>
          <div id="shopBanner">
              @for(item of [].constructor(calculateNumberOfStripes()); track $index) {
                  <div class="bannerStripe" [style]="`flex: 1 0 ${100 / calculateNumberOfStripes()}%`">
                      @let colorClass = $even ? 'secondaryColor' : 'tertiaryColor';
                      <div class="flat" [class]="colorClass"></div>
                      <div class="round" [class]="colorClass"></div>
                  </div>
              }
          </div>
          <img id="shopLabel" src="img/shop_logo.png" />
          <div id="shopItemsContainer">
              @for(item of getFilteredShopItemsList(); track $index) {
                  <shop-item [item]="item" [expand]="shopEventService.showExpandedItemData()" />
              }
              @empty {
                  <div id="emptyShopItemsContainer">
                      <p>There are no shop items to display.</p>
                  </div>
              }
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
}