@use '@angular/material' as mat;

#decorativePanelTop{
    position: absolute;
    width: 100%;
    height: 175px;
    background-color: var(--primary-theme-color);
}

#decorativePanelBottom {
    width: 100%;
    height: 50px;
    background-color: var(--primary-theme-color);
}

#homeViewContainer{
    display: flex;
    flex-flow: column nowrap;
    row-gap: 50px;
    padding: 50px 16px 25px 16px;
    background-image: url('../../../../../public/img/background.png');
    background-repeat: repeat;
}

div.logoSectionRow {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 16px;
    z-index: 1; //keep section above decorative panel
}

div.logoSectionColumn {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
    z-index: 1; //keep section above decorative panel
}

#logoColumn {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-items: center;
}

#logo {
    max-width: 100%;
}

#teamListingColumn {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
}

div.noResultsRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div.noResultsColumn{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

div.informationSectionRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

div.informationColumn {
    display: flex;
    flex-flow: column nowrap;
}

#resourcesList {
    @include mat.list-overrides((
        list-item-label-text-font: macExtMinecraft,
        list-item-supporting-text-font: macExtMinecraft,
        list-item-supporting-text-size: var(--card-subheader-pixel-font-size)
    ));
}